<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.9" package="com.jiuling.MusicPlayerOnline.App" android:installLocation="auto" android:versionCode="10">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="30" />
	<application android:theme="@style/MainTheme" android:label="在线音乐助手" android:icon="@mipmap/icon" android:networkSecurityConfig="@xml/network_security_config">
		<provider android:name="androidx.core.content.FileProvider" android:authorities="com.jiuling.MusicPlayerOnline.App.fileprovider" android:grantUriPermissions="true" android:exported="false">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filepaths" />
		</provider>
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
</manifest>